body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background: lightpink url("/media/index/pixelartbackground.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    font-family: "Trebuchet MS", Tahoma, sans-serif;;
    font-size: 12px;
    cursor: url(https://cur.cursors-4u.net/nature/nat-1/nat21.ani), url(https://cur.cursors-4u.net/nature/nat-1/nat21.png), auto !important;
  }

header{
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    height: min(10vw, 12vh);
    background-color: lightpink;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    align-content: center;
}

header h1{
    font-size: min(4vh, 3vw);
    letter-spacing: 0.4vw;
    margin: 0;
}

header h3{
    font-size: min(2vh, 2vw);
    margin: 5px;
}

#center{
    top: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    padding: 10px;
    background-color: floralwhite;
    overflow-y: auto;
    border-radius: 20px;
    line-height: 16px;
}
footer{
    text-align: center;
    margin: 20px;
    padding: 10px;
    padding-top: 15px;
    background-color: lightpink;
    color: mistyrose;
    border-radius: 20px;
}

h1{
    color: white;
    font-size: 28px;
}

h2{
    color: rosybrown;
}

h3{
    color: floralwhite;
    font-style: italic
}

img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: lightpink;
    cursor: url(https://cur.cursors-4u.net/nature/nat-1/nat21.ani), url(https://cur.cursors-4u.net/nature/nat-1/nat21.png), auto;
}
a:hover{
    color:darkseagreen;
}